<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - BookEditor</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Booklet/jquery.booklet.latest.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/JEdito/jquery-te-1.4.0.css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/customcss")

    @Styles.Render("~/Content/themes/sunny/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript" src="~/Scripts/jquery-te-1.4.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jstree.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.booklet.latest.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jeditable.mini.js"></script>
    <script type="text/javascript" src="~/Scripts/autogrow.js"></script>
</head>
<body id="body">
    @RenderBody()


    @RenderSection("scripts", required: false)
</body>
</html>
