<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - BookEditor</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
         @Styles.Render("~/Content/customcss")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")  
             @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")  
        <script src="~/Scripts/bootstrap.min.js"></script>
        <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="~/Content/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
    </head>
    <body>
         @RenderBody()
 
       
        @RenderSection("scripts", required: false)
    </body>
</html>
