@Model book    
@{
    Layout = null;
    int index = 1;
}  
   <!--Frames section-->
                @for (int indexPages = 0; indexPages < @Model.chapters[indexChapters].pages.Length; indexPages++)
                {
                    <div class="page" id="@Model.chapters[indexChapters].pages[indexPages].id">

                        <div class="frame" id="frames">
                            @foreach (bookChapterPageFrame frame in @Model.chapters[indexChapters].pages[indexPages].frames)
                            {

                                <div id="@frame.id" class="droppable">
                                    <img id="img@(frame.id)" border="0" width="700" height="158" alt="" src="~/Images/@(frame.bordertype).png" />
                                    <span>@(frame.bordertype)</span>
                                </div>
                            }  @{ index++; }
                        </div>
                    </div>
                }
                <!--End frames section-->