@using BookWriterTool.Helpers
@model book



@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editor";
    string statusMsg;
    if (ViewBag.statusMsg != null)
    {
        statusMsg = ViewBag.statusMsg;
    }
    else
    {
        statusMsg = "";
    }

    bookChapterPageFrameContentObject aObject = null;

    int index = 1;


}
<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" style="position: fixed; width: 100%; background-color: gainsboro;">
    <div id="navBtn" style="text-align: center; width: 100%;">
        <input class="ui-widget ui-widget-content ui-corner-all" id="Preview" type="button" value="Preview" />
        <input class="ui-widget  ui-corner-all" id="View2D" type="button" value="2D View" />
        <input class="ui-widget ui-widget-content  ui-corner-all" id="View3D" type="button" value="3D View" />
        <input class="ui-widget  ui-corner-all" id="btnAddPage" type="button" value="Add new page" />
    </div>
    <div style="float: left;"><label>Actual book :<span id="bookTitle">@ViewBag.fileName</span></label>
        @Html.Partial("_LoginPartial")
        </div>
</div>

@if (Model != null)
{
    <div class="chapters" id="chapters">
        <div id="panel2D">
            <!--Chapters section-->
            @foreach (bookChapter chapter in this.Model.chapters)
            {
                <!--Pages section-->
                <div class="pagesEdit bb-bookblock" id="@chapter.id">
                    <!--End Pages section-->

                    <!--Frames section-->
                    @foreach (bookChapterPage page in chapter.pages)
                    {
                        <div class="page" id="@page.id">

                            <div class="frame" id="frames">
                                @{
                        foreach (bookChapterPageFrame frame in page.frames)
                        {
                                    <div id="@frame.id" class="droppable">
                                        <div class="GeomForm">

                                            @if (@frame.bordertype == "rectangle")
                                            {
                                                <div  id="@(chapter.id)-@(page.id)-@(frame.id)-rectangle" class="rectangle">
                                                    @Html.Partial("FrameContentFull", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "rectangle" } })
                                                </div>
                                            }
                                            else if (@frame.bordertype == "square")
                                            { 

                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-left" class="squareLeft">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "left" } })
                                                </div>
                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-right" class="squareRight">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "right" } })
                                                </div>  
                                            }

                                        </div>
                                    </div> 
                        } index++;
                                }
                            </div>
                        </div>
                    }
                    <div class="Container3D" id="Container3D">
                        <p class="header"><span>Unity Web Player | </span>fles</p>
                        <div class="content">
                            <div id="unityPlayer">
                                <div class="missing">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                                        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                                    </a>
                                </div>
                                <div class="broken">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
                                        <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
                    </div>
                    <!--End frames section-->

                </div>
            }
        </div>

    </div>
}

<div class="configDialog" id="configDialog">
    <div id="accordionConfig" class="toolbox">
          <h4>Frames</h4>
        <div class="leftContent">

            @Html.Partial("~/Views/Book/FrameList.cshtml")

        </div>
        @*<h3>@Localization.Localize("objects")</h3>
        <div id="genericObjGroup">

            @Html.Partial("~/Views/Book/ObjectList.cshtml", (Dictionary<string, string[]>)ViewBag.Table, new ViewDataDictionary { { "listOfObjects", ViewBag.ObjectList } })

        </div>*@
        <h3>@Localization.Localize("backgrounds")</h3>
        <div class="leftContent">
             @Html.Partial("~/Views/Book/BackgroundsList.cshtml", (List<string>)ViewBag.Table, new ViewDataDictionary { { "listOfBackgrounds", ViewBag.BackgroundList } })
        </div>
          <h3>@Localization.Localize("textComponent")</h3>
        <div class="leftContent">

            @Html.Partial("~/Views/Book/TxtComponentsList.cshtml")

        </div>
        <h3>@Localization.Localize("files")</h3>
        <div class="leftContent">
            <div id="partialFileResult">
                @{
                    @Html.Partial("ListOfBooks", (string[])ViewBag.Table, new ViewDataDictionary { { "listOfBooks", ViewBag.arrayBooks } })
                }
            </div>
    
          
            <div class="ui-widget  ui-corner-all addBook" id="div_1">
                <input class="ui-widget  ui-corner-all" id="newFileName" type="text" placeholder="Add a new book..."/>
                <input class="ui-widget  ui-corner-all" id="AddNewBook_btn" type="button" value="Add" />
            </div>
        </div>
        @*<h3>Status</h3>
        <div class="leftContent">
            @Html.ActionLink("GetObjelist", "GetObjectsInFolder", "Book");
            <label>ParentPosition left:</label>
            <input id="parentX_txtbox" type="text" />

            <label>Parent Position top:</label>
            <input id="parentY_txtbox" type="text" />

            <label>Object Position left:</label>
            <input id="posX_txtbox" type="text" />

            <label>Object Position top:</label>
            <input id="posY_txtbox" type="text" />

            <label>origoX:</label>
            <input id="pageName_txtbox" />

            <label>origoY:</label>
            <input id="frameName_txtbox" />

            <label>Parent widht</label>
            <input id="parentWidth_txtbox" type="text" />

            <label>Parent height</label>
            <input id="parentHeight_txtbox" type="text" />

            <label>Obj width</label>
            <input id="objWidth_txtbox" />

            <label>Obj height</label>
            <input id="objHeight_txtbox" />

        </div>*@
        <h3>@Localization.Localize("Languages")</h3>
        <div class="leftContent">
            <ul>
                <li>@Html.ActionLink(@Localization.Localize("English"), "SetCulture", new { controller = "Culture", culture = "en-GB", returnUrl = HttpContext.Current.Request.RawUrl }, new { Class = "btn btn-lg btn-primary" })</li>
                <li>@Html.ActionLink(@Localization.Localize("Spanish"), "SetCulture", new { controller = "Culture", culture = "es-ES", returnUrl = HttpContext.Current.Request.RawUrl }, new { Class = "btn btn-lg btn-primary" })</li>
                <li>@Html.ActionLink(@Localization.Localize("Swedish"), "SetCulture", new { controller = "Culture", culture = "sv-SE", returnUrl = HttpContext.Current.Request.RawUrl }, new { Class = "btn btn-lg btn-primary" })</li>
            </ul>
        </div>
    </div>
</div>


<div id="contentWindow">
 
</div>
<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id='context-menu'>   
    <span  id="valCtxMenu"></span>
    <ul>
        <li id="ctxMenuFlip">Flip</li>
        <li id="ctxMenuDelete">Delete</li>
        <li id="ctxMenuIncreaseSize">Increase size</li>
        <li id="ctxMenuDecreaseSize">Decrease size</li>
    </ul>

</div>
<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id='context-menu-extra'>   
    <span  id="valCtxMenuExtra"></span>
    <ul>
        <li id="ctxMenuFlipExtra">Flip</li>
        <li id="ctxMenuDeleteExtra">Delete</li>
        <li id="ctxMenuEditExtra">Edit text</li>
    </ul>

</div>
<div id="statusDialog">
    <label>Status</label>
    <div id="mssgString">@statusMsg</div>

</div>
@section scripts
{

        <script type="text/javascript" src="~/Scripts/MainScript.js"></script>


}


