@model book
@{
    
    Layout = "~/Views/Shared/Editor_Layout.cshtml";
    ViewBag.Title = "Editor";
     bookChapterPage[] apage = this.Model.chapters[0].pages;
     bookChapter[] achapter = this.Model.chapters;
    int numberOfChapters = achapter.Length;
   int numberOfPages= apage.Length;
    //string isa = apage[0].id;
}
<h3>Book Editor</h3>
 <h3> @Html.ActionLink("View Book", "ViewBook", "Book", null, null)</h3>


<div><br/>
    <input id="editframescontent" name="editcontent" type="button" value="Edit content in frames" />
<input id="editcontent" name="editcontent" type="button" value="Save" /></div>  <ul id="menu">


<div class="chapters" id="chapters">
    
    <ul>
        <li><a href="#chapters">Chapter1</a></li>
        <li><button id="btnAddChapter" type="button" value="+">+</button></li>
    </ul>
    <!--Pages section-->
    <div class="pages" id="pages">
       
        <ul>
            @for (var i = 0; i < numberOfPages;i++ )
            {
         
                <li><a href="#page@(i+1)">page@(i+1)</a>
                </li> 
            }
            <li><button id="btnAddPage" type="button" value="+">+</button></li>
        </ul>
        <!--End Pages section-->

        <!--Frames section-->
        @foreach (var page in @Model.chapters[0].pages)
        {
            <div class="page" id="@page.id">

                <div id="frames">
                    @foreach (bookChapterPageFrame frame in @Model.chapters[0].pages[0].frames)
                    {
                        <div id="@frame.id" class="droppable">
                            <img id="img@(frame.id)" border="0" width="700" height="133" alt="" src="" />
                            <div id="listframes">
                                <span hidden="true">page:@page.id-</span>
                                
                            </div>
                        </div>
                    }
<button id="btnAddFrame" type="button" value="+">+</button>
                </div>
            </div>
        }
        <!--End frames section-->
     
    </div>
</div>
   


    <img class="draggable" id="triangle" src="../Images/triangle.png" border="0" width="367" height="133" alt="" />



<img id="rectangle" alt="" class="draggable" src="../Images/rectangle.png" width="367" height="137" title="MainContent" />
<div id="status"></div>
<div id="configDialog">
    <div id="myDialogText"></div>
</div>

@section scripts
{
    <script>
        var draggableId = "No Draggable";
        var droppableId = "No droppable";
        var startPos;
        var frameDescriptionArray = new Array();
        var paragraphs = $('div#listframes span');
        //var spans = $('div#listframes span');

        $(function () {
            $("#pages").tabs();
            $("#chapters").tabs();

        });
        
        $("#btnAddPage").click(function () {
            var chapterNumber = { "chapterNumber": "test" };
            jQuery.ajax({
                type: 'POST',
                url: "AddPage",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(chapterNumber),
                async: false,
                dataType: "json",
                success: function (msg) {
                    $("editframescontent").show();
                    frameDescriptionArray.length = 0;
                }, error: function (msg) {
                    $('#status').text(msg.Text);
                }
            });
        }
        );
        $("#btnAddFrame").click(function () {
            var id = this.value;
            $("#configDialog").dialog();
            $("#myDialogText").text(id);
        }
     );
        $("#btnAddChapter").click(function () {
          //  var id = this.value;
           $("#configDialog").dialog();
          
             @{ numberOfPages = numberOfChapters + 1;};
            $("#myDialogText").append(@numberOfChapters);
        }
  );
        
        $(function () {
            $(".draggable").draggable({
                drag: function (event, ui) {
                    draggableId = $(this).attr("id");

                }
            }).addClass("ui-state-highlight");

            $(".droppable").droppable({
                drop: function (event, ui) {

                    var droppableId = $(this).attr("id");
                    $(this).find("span").append("frame:" + droppableId + "-content:" + draggableId);
                    $(this).find("img").attr("src", "../Images/" + draggableId + ".png");


                    $("#" + draggableId).css({ top: 30, left: 20 });
                }
            }).addClass("ui-state-highlight");
        });
        $("#editcontent").click(function () {
            for (var i = 0; i < paragraphs.length; i++) {
                frameDescriptionArray.push($(paragraphs[i]).text());
            }
            jQuery.ajax({
                type: 'POST',
                url: "EditBookContent",
                data: JSON.stringify(frameDescriptionArray),
                contentType: 'application/json; charset=utf-8',
                async: false,
                dataType: "json",
                success: function (msg) {
                    $("editframescontent").show();
                    frameDescriptionArray.length = 0;
                },error:function(msg) {
                    $('#status').text(msg.Text);
                }
            });

        });

    </script>
}
