@using BookWriterTool.Helpers
@{ var frame = (bookChapterPageFrame)this.ViewData["actualFrame"];
   var target = (string)this.ViewData["target"];
   var activeDirectory = "";
   if (Session["ActualDirectory"] != null)
   {
       activeDirectory = (string)this.Session["ActualDirectory"];
   }
}
@if (frame.contents != null)
{
    foreach (bookChapterPageFrameContent content in frame.contents.Where(content => content.target == target))
    { <div class="editPencil"><span class="ui-icon ui-icon-pencil"></span></div>
    <div class="droppable contentIntern" style="background-image: url(@(!String.IsNullOrEmpty(content.background) ? @activeDirectory+"/Generic/"+ @content.background : @GlobalVariables.ConfigResource("Images")+"rectangle.png"))">
        @if (content.objects != null)
            {
            foreach (bookChapterPageFrameContentObject obj in content.objects)
            {
                if (@obj.type == "textBox")
                {
                <p class='bigText' contenteditable='true'>@Html.Raw(@obj.text.Replace("\n", "<br/>"))</p>
                }else
                    {
                    
            <img id="@obj.id" style="left: @obj.origoX; top: @obj.origoY;" class="clonedImg" width="@obj.scaleX" height="@obj.scaleY" alt="" src="@activeDirectory@GlobalVariables.ConfigResource(@obj.type)@(obj.img)" />
                    }

            }
        }

    </div>
    }
}