@using BookWriterTool.Helpers
@{
    var frame = (string[])this.ViewData["listOfBooks"];
    var statusMssg = "";
   if (ViewBag.statusMsg != null)
   {
       statusMssg = ViewBag.statusMsg;
   }
}
@if(frame!=null)
{
<div class="fileGroup" id="userContent">
    <ul><li> <label>@Localization.Localize("ChooseOption")</label><ul>
                            @foreach (var word in frame)
                            {
                                if (word != null)
                                {
                                    var user = (string)Session["username"];
                                    var pos = @word.LastIndexOf("\\", System.StringComparison.Ordinal) + 1;
                                    var fileName = word.Substring(pos, word.Length - pos);
                                    var path = "";
                                    path = (GlobalVariables.ConfigResource("UsersDirectory") + user + "/Books/" + fileName);
           

                                    <li rel="file" >@Html.ActionLink(@fileName, "GetChosenBook", "Book", new { fileName = @path }, new { Class = "btn btn-lg btn-primary" })
              
                                        <input id="@fileName" class="ui-widget  ui-corner-all deleteFile" type="button" value="delete" />
                                    </li>
                                }
                            }
                        </ul></li>
    </ul>
    <p>@statusMssg</p>
</div>
}