@using BookWriterTool.Helpers
@{
    Layout = null;
}

<div id="objectsGroup">
    <ul><li><a>Objects</a>
            <ul><li><a>Animals</a>
                   <ul><li><img    src="@GlobalVariables.ConfigResource("CharacterRes")animals/duck.jpg" border="1" width="25" height="50" alt="" />
                 </li></ul>
           </li></ul></li> </ul>
</div>
    <div id="characterGroup">
        <ul><li><a>Character2D</a>
            <ul><li><a>Female</a>
                    <ul>
                        <li><img    src="@GlobalVariables.ConfigResource("Character2DRes")female/girlInGreen.png" border="1" width="25" height="50" alt="" /></li>
     
                    </ul></li></ul>
            <ul><li><a>Male</a>
                    <ul>
                        <li><img  alt=""  src="@GlobalVariables.ConfigResource("Character2DRes")male/redFighter.png" border="1" width="25" height="50"  /></li>
                    </ul></li></ul></ul>
    </div>
    <div id="expressionGroup">
    <ul><li><a>Expressions</a>
            <ul><li><a>emoticons</a>
                <ul><li><img src="@GlobalVariables.ConfigResource("ExpressionRes")expdrop.png" border="1" width="25" height="50" alt="" /><img id="object6" alt=""  src="@GlobalVariables.ConfigResource("ExpressionRes")interrogationexp.png" border="1" width="25" height="50"/>
   </li></ul>
           </li></ul></li></ul>
</div>

