
@model book

@{
    
    Layout = "~/Views/Shared/_LayoutView.cshtml";
    ViewBag.Title = "Editor";
  


}


@if (Model != null)
{
 
            <!--Chapters section-->
            foreach (bookChapter chapter in this.Model.chapters)
            {
                <!--Pages section-->
                <div class="container" id="flip">
                    <!--End Pages section-->

                    <!--Frames section-->
                    @foreach (bookChapterPage page in chapter.pages)
                    {
                        <div  class="f-page" id="@page.id">

                            <div  id="frames">
                                @{
                        foreach (bookChapterPageFrame frame in page.frames)
                        {
                                    <div id="@frame.id" class="box w-50 h-30">
                                        <div class="GeomForm">

                                            @if (@frame.bordertype == "rectangle")
                                            {
                                                <div  id="@(chapter.id)-@(page.id)-@(frame.id)-rectangle" class="rectangle">
                                                    @Html.Partial("FrameContentFull", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "rectangle" } })
                                                </div>
                                            }
                                            else if (@frame.bordertype == "square")
                                            { 

                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-left" class="squareLeft">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "left" } })
                                                </div>
                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-right" class="squareRight">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "right" } })
                                                </div>  
                                            }

                                        </div>
                                    </div> 
                        }
                                }
                            </div>
                        </div>
                    }
                
                    <!--End frames section-->

                </div>
            }
}

@section scripts
{
    	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript">

		    var $container = $('#flip'),
				$pages = $container.children().hide();

		    Modernizr.load({
		        test: Modernizr.csstransforms3d && Modernizr.csstransitions,
		        yep: ['js/jquery.tmpl.min.js', 'js/jquery.history.js', 'js/core.string.js', 'js/jquery.touchSwipe-1.2.5.js', 'js/jquery.flips.js'],
		        nope: 'css/fallback.css',
		        callback: function (url, result, key) {

		            if (url === 'css/fallback.css') {
		                $pages.show();
		            }
		            else if (url === 'js/jquery.flips.js') {
		                $container.flips();
		            }

		        }
		    });

		</script>


}


