
@model book

@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editor";
    string statusMsg;
    if (ViewBag.statusMsg != null)
    {
        statusMsg = ViewBag.statusMsg;
    }
    else
    {
        statusMsg = "";
    }

    bookChapterPageFrameContentObject aObject = null;

    int index = 1;


}
<div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" style="position: fixed; width: 100%; background-color: gainsboro;">
    <div style="text-align: center; width: 100%;">
        <input class="ui-widget ui-widget-content ui-corner-all" id="Preview" type="button" value="Edit" />
        <input class="ui-widget  ui-corner-all" id="View2D" type="button" value="2D View" />
        <input class="ui-widget ui-widget-content  ui-corner-all" id="View3D" type="button" value="3D View" />
        <input class="ui-widget  ui-corner-all" id="btnAddPage" type="button" value="Add new page" />

    </div>
        <div style="float: left;"><label>Actual book :<span id="bookTitle">@ViewBag.fileName</span></label>
        @Html.Partial("_LoginPartial")
        </div>
</div>

@if (Model != null)
{
    <div class="chapters" id="chapters">
        <div id="panel2D">
            <!--Chapters section-->
            @foreach (bookChapter chapter in this.Model.chapters)
            {
                <!--Pages section-->
                <div class="pagesView bb-bookblock" id="@chapter.id">
                    <!--End Pages section-->

                    <!--Frames section-->
                    @foreach (bookChapterPage page in chapter.pages)
                    {
                        <div class="page" id="@page.id">

                            <div class="frame" id="frames">
                                @{
                        foreach (bookChapterPageFrame frame in page.frames)
                        {
                                    <div id="@frame.id" class="droppable">
                                        <div class="GeomForm">

                                            @if (@frame.bordertype == "rectangle")
                                            {
                                                <div  id="@(chapter.id)-@(page.id)-@(frame.id)-rectangle" class="rectangle">
                                                    @Html.Partial("FrameContentFull", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "rectangle" } })
                                                </div>
                                            }
                                            else if (@frame.bordertype == "square")
                                            { 

                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-left" class="squareLeft">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "left" } })
                                                </div>
                                                <div id="@(chapter.id)-@(page.id)-@(frame.id)-right" class="squareRight">
                                                    @Html.Partial("FrameContentSplit", (bookChapterPageFrame)ViewBag.Table, new ViewDataDictionary { { "actualFrame", frame }, { "target", "right" } })
                                                </div>  
                                            }

                                        </div>
                                    </div> 
                        } index++;
                                }
                            </div>
                        </div>
                    }
                    <div class="Container3D" id="Container3D">
                        <p class="header"><span>Unity Web Player | </span>fles</p>
                        <div class="content">
                            <div id="unityPlayer">
                                <div class="missing">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
                                        <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
                                    </a>
                                </div>
                                <div class="broken">
                                    <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
                                        <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <p class="footer">&laquo; created with <a href="http://unity3d.com/unity/" title="Go to unity3d.com">Unity</a> &raquo;</p>
                    </div>
                    <!--End frames section-->

                </div>
            }
        </div>

    </div>
}




<div id="contentWindow"></div>



@section scripts
{

        <script type="text/javascript" src="/Scripts/MainScript.js"></script>


}


